name: Build TriCNES

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v2

      - name: Restore packages
        run: nuget restore TriCNES.sln

      - name: Build solution (Release)
        run: msbuild TriCNES.sln /p:Configuration=Release
        
      - name: Publish artifacts
        uses: actions/upload-artifact@v5
        with:
          name: TriCNES-binaries
          path: |
            **/*.exe