name: Build TriCNES

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "4.8"

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v2

      - name: Restore NuGet packages
        run: nuget restore ./TriCNES.sln

      - name: Build solution
        run: msbuild ./TriCNES.sln /p:Configuration=Release

      - name: Run tests
        run: msbuild ./TriCNES.sln /p:Configuration=Release /t:Test

      - name: Publish artifacts
        uses: actions/upload-artifact@v5
        with:
          name: TriCNES-build
          path: ./TriCNES/bin/Release/TriCNES.dll
